body {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

header {
  text-align: center;
  margin: 3rem 0;
}

.counters {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.counter {
  align-items: center;
  display: flex;
  flex-direction: column;
}
